In [3]:
import pandas as pd
import folium
import folium.plugins as MarkerCluster
import folium.plugins as FastMarkerCluster
from sqlalchemy import create_engine
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from credentials import user 
from credentials import server 
from credentials import password 
from credentials import user,password,server

import geopandas as gpd /
import plotly.express as px

engine = create_engine("postgres+psycopg2://postgres:postgres@localhost:5432/lahman_baseball")

engine = "postgres+psycopg2://nss_user:nssAWS2020@nyt-covid-1.csdmctdmvs7t.us-east-1.rds.amazonaws.com:5432/covid_data"

In [22]:
engine= engine = ("postgres+psycopg2://"+user+":"+password+"@"+server+": 5432/covid_data")

In [21]:
counties_df = pd.read_sql("SELECT * FROM counties;", con=engine)
counties_df

              date      county       state   fips  cases  deaths
0       2020-01-21   Snohomish  Washington  53061      1       0
1       2020-01-22   Snohomish  Washington  53061      1       0
2       2020-01-23   Snohomish  Washington  53061      1       0
3       2020-01-24        Cook    Illinois  17031      1       0
4       2020-01-24   Snohomish  Washington  53061      1       0
...            ...         ...         ...    ...    ...     ...
729020  2020-11-13  Sweetwater     Wyoming  56037    991       4
729021  2020-11-13       Teton     Wyoming  56039   1108       2
729022  2020-11-13       Uinta     Wyoming  56041    686       4
729023  2020-11-13    Washakie     Wyoming  56043    205       7
729024  2020-11-13      Weston     Wyoming  56045    330       0

[729025 rows x 6 columns]