In [2]:
import pandas as pd
import numpy as np
from sqlalchemy import create_engine
from credentials import user
from credentials import server
from credentials import password

In [3]:
connString = "postgres+psycopg2://"+user+":"+password+"@"+server+":5432/covid_data"
engine = create_engine(connString)

In [4]:
counties = pd.read_sql("SELECT * FROM counties;", con=connString)
counties.head(5)

         date     county       state   fips  cases  deaths
0  2020-01-21  Snohomish  Washington  53061      1       0
1  2020-01-22  Snohomish  Washington  53061      1       0
2  2020-01-23  Snohomish  Washington  53061      1       0
3  2020-01-24       Cook    Illinois  17031      1       0
4  2020-01-24  Snohomish  Washington  53061      1       0